.subdomains-feed {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 4em;
  max-width: 100%;
  position: relative;
  margin-block: 1em;
  margin-top: 3em;
}
