@use "../abstract" as *;

.card {
  --border-radius-size: 10px;
  $this: &;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  max-width: 320px;
  margin-right: -10px;
  background-color: rgba(255, 255, 255, 1);
  border-radius: var(--border-radius-size);
  box-shadow: inset 0 0 0 0px rgb(255 255 255 / 60%), 0 1px 2px rgb(0 0 0 / 30%);
  transition: all 300ms;
  position: relative;

  &:hover {
    >#{$this}__thumbnail {
      background-size: 105%;
    }

    >#{$this}__more {
      box-shadow: inset 0 0 0 0px rgb(255 255 255 / 60%), 10px 3px 10px -4px rgb(0 0 0 / 30%);
    }
  }

  &:last-child {
    margin-bottom: 2em;
  }

  @include mq(middle) {
    min-height: 240px;
    margin-bottom: 1em;
    margin-right: 0;
  }
}

.card__thumbnail {
  min-width: 320px;
  min-height: 240px;
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: 50%;
  opacity: 0.75;
  border-top-left-radius: var(--border-radius-size);
  border-top-right-radius: var(--border-radius-size);
  transition: all 350ms;
}

.card__title {
  font-size: 1rem;
  font-family: var(--txt-font);
  font-weight: 600;
  text-transform: uppercase;
  text-align: left;
  color: #505050;
  width: 100%;
  padding: 0.75em 1.5em;
  padding-bottom: 0.25em;
}

.card__more {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
  padding-top: 0;
  padding-bottom: 1em;
  padding-inline: 0.5em;
  text-decoration: none;
  color: #505050;
  border-bottom-left-radius: var(--border-radius-size);
  border-bottom-right-radius: var(--border-radius-size);
  box-shadow: inset 0 0 0 0px rgb(255 255 255 / 60%),
    -10px 13px 14px -8px rgb(0 0 0 / 30%);
  transition: all 250ms;

  &::after {
    content: "\f061";
    min-width: 3rem;
    min-height: 3rem;
    font-family: "Font Awesome 5 Free";
    font-weight: 800;
    font-size: 1.5rem;
    color: #ffffff;
    border-radius: 50%;
    background-color: hsl(var(--clr-prf));
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    margin-right: 0.5em;
  }
}