@use "../abstract" as *;

.sidebar {
  &--header {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;

    @include mq(middle) {
      justify-content: space-between;
    }

    img {
      padding-top: 4px;
    }
  }
}
