.site {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  max-width: 1024px;
  margin: 0 auto;
}
.site--content{
    display: flex;
    justify-content: center;
    position: relative;

    &::after{
      content: "";
      width: 5px;
      border-radius: 5px;
      background-color: #e6e6e6;
      box-shadow: -10px 0 20px 3px #fff;
      position: absolute;
      right: 0;
      top: 3rem;
      bottom: 3.6rem;      
    }
}
