@use "../abstract" as *;

.site {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  max-width: 100%;
  margin: 0 auto;

  @include mq(big){
    max-width: 1280px;
  }
}
.site--content{
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    margin-block: 2em;
    padding-inline: 1em;
    position: relative;

    @include mq(middle){
      flex-flow: row nowrap;
      margin-block: 1em;
    }

    &::after{
      content: "";
      border-radius: 5px;
      width: 94%;
      height: 5px;
      background-color: var(--clr-gray);
      box-shadow: 0 -10px 20px 3px var(--clr-gray);
      position: absolute;
      bottom: 0;
      top: auto;
      right: auto;
      left: 3%;

      @include mq(middle){
        width: 5px;
        height: auto;
        box-shadow: -10px 0 20px 3px var(--clr-gray);
        top: 0;
        bottom: 1em;
        right: 1em;
        left: auto;
      }
    }
}
.pre-title{
  --br-rs: 10px;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: end;
  margin-bottom: 1em;
  margin-inline: auto;
  min-width: auto;
  background: rgba(0,0,0,.1);
  border-radius: var(--br-rs);
  
  @include mq(small){
    min-width: 320px;
  }

  @include mq(middle){
    min-width: auto;
    margin-bottom: 0;
  }
}
.pre-title h1{
  width: 100%;
  padding: 1em;
  text-transform: uppercase;
  font-family: var(--txt-font);
  mix-blend-mode: screen;
  background-color: #ffffff;
  text-align: center;
  border-radius: var(--br-rs);

  @include mq(middle){
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }
}