@use "../abstract" as *;

.site {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  width: min(100%, 1280px);
  margin: 0 auto;
}

.site--content {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  margin-block: 2em;
  padding-inline: 1em;
  position: relative;

  @include mq(middle) {
    flex-flow: row nowrap;
    margin-block: 1em;
  }
}